@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

:root {
    --main-background: #1f1f1f;
    --keypad-background: #383838;
    --screen-background: #6d6d6d;
    
    --key-functional-background: #146C94;
    --key-functional-hover-background: #248bbb;
    --key-functional-shadow: rgb(6, 82, 117);
    --key-equal-background: hsl(25, 98%, 40%);
    --key-equal-hover-background: hsl(25, 88%, 50%);
    --key-equal-shadow: hsl(25, 99%, 27%);
    --key-number-operations-background: hsl(45, 7%, 89%);
    --key-number-operations-hover-background: hsl(0, 0%, 100%);
    --key-number-operations-shadow: hsl(35, 11%, 61%);
    
    --text-primary: #F6F1F1;
    --text-secondary: hsl(60, 10%, 19%);
    --text-header: #F6F1F1;
    
    --font-primary: 'League Spartan';
}

.light-theme:root {
--main-background: hsl(0, 0%, 90%);
--keypad-background: hsl(0, 5%, 81%);
--screen-background: hsl(0, 0%, 93%);

--key-functional-background: hsl(185, 42%, 37%);
--key-functional-hover-background: hsl(185, 37%, 50%);
--key-functional-shadow: hsl(185, 58%, 25%);
--key-equal-background: hsl(25, 98%, 40%);
--key-equal-hover-background: hsl(25, 88%, 50%);
--key-equal-shadow: hsl(25, 99%, 27%);
--key-number-operations-background: hsl(45, 7%, 89%);
--key-number-operations-hover-background: hsl(0, 0%, 100%);
--key-number-operations-shadow: hsl(35, 11%, 61%);

--text-primary: hsl(0, 0%, 100%);
--text-secondary: hsl(60, 10%, 19%);
--text-header: hsl(60, 10%, 19%);

--font-primary: 'League Spartan';
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-primary), sans-serif;
}

body {
    background-color: var(--main-background);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    width: 100vw;
    height: 100vh;
}

/* Calculator header */
.calc {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 330px;
    margin: auto 0;
}

.calc__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-header);
}

.calc__theme-container {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.calc__theme-container h3 {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}

.calc__label {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    align-items: center;
    text-align: center;
}

.calc__label p {
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 6px;
    margin-left: 3px;
}

.calc__container-ball {
    background-color: var(--keypad-background);
    padding: 0.3rem 0.3rem;
    border-radius: 15px;
    width: 46px;
    height: 25px;
    position: relative;
}

.calc__ball {
    position: absolute;
    top: 5px;
    left: 5px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
    width: 15px;
    height: 15px;
    background-color: var(--key-equal-background);
    border: 1px solid var(--key-equal-background);
    border-radius: 50%;
}

.calc__checkbox {
    display: none;
}

.calc__checkbox:checked + .calc__label .calc__ball {
    transform: translateX(21px);
}

/* Screen */
.screen {
    background-color: var(--screen-background);
    text-align: end;
    border-radius: 8px;
    padding: 1.5em;
}

.operations {
    font-size: 32px;
    color: var(--text-header);
    overflow-wrap: break-word;
}


/* Buttons */
.buttons {
    background-color: var(--keypad-background);
    padding: 1.5rem;
    border-radius: 8px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.button__buttons {
    font-weight: 700;
    border: none;
    border-radius: 4px;
    padding: 1rem;
}

.button__numbers-operations {
    font-size: 28px;
    color: var(--text-secondary);
    background-color: var(--key-number-operations-background);
    box-shadow: 0 4px var(--key-number-operations-shadow);
}

.button__numbers-operations:active {
    background-color: var(--key-number-operations-hover-background);
}

.button__functional {
    font-size: 20px;
    color: var(--text-primary);
    background-color: var(--key-functional-background);
    box-shadow: 0 4px var(--key-functional-shadow);
}

.button__functional:active {
    background-color: var(--key-functional-hover-background);
}

.button__equal {
    font-size: 20px;
    color: var(--text-primary);
    background-color: var(--key-equal-background);
    box-shadow: 0 4px var(--key-equal-shadow);
}

.button__equal:active {
    background-color: var(--key-equal-hover-background);
}

.button__reset,
.button__equal {
    grid-column: span 2;
}

@media screen and (min-width: 1360px) {
    .calc {
        gap: 1rem;
        width: 425px;
    }

    .calc__theme-container h3 {
        font-size: 10px;
    }

    .screen {
        background-color: var(--screen-background);
        text-align: end;
        border-radius: 8px;
        padding: 1.8em;
    }

    .operations {
        font-size: 45px;
    }

    .buttons {
        gap: 1.4rem;
    }
    
    .button__buttons {
        border-radius: 8px;
        padding: 0.8rem 1.2rem 0.5rem;
        cursor: pointer;
    }

    .button__numbers-operations {
        font-size: 32px;
    }

    .button__numbers-operations:hover {
        background-color: var(--key-number-operations-hover-background);
    }
    
    .button__functional {
        font-size: 22px;
    }

    .button__functional:hover {
        background-color: var(--key-functional-hover-background);
    }
    
    .button__equal {
        font-size: 22px;
    }

    .button__equal:hover {
        background-color: var(--key-equal-hover-background);
    }
    
}